<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/de" />
    <script>
      if (typeof window !== "undefined") {
        window.location.href = "/de";
      }
    </script>
  </head>
  <body>
  </body>
</html>
