<section class="h-screen">
    <!-- Título de la sección -->
    <h1 id="about-title" class="relative text-5xl sm:text-6xl md:text-7xl lg:text-8xl text-black dark:text-white font-saira font-black z-10 text-center">
        ÜBER MICH
    </h1>

    <!-- Subtítulo -->
    <h2 id="about-subtitle" class="relative text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-primary font-dafoe font-regular z-20 text-center transform -translate-y-20 sm:-translate-y-[100px] md:-translate-y-[125px] lg:-translate-y-[135px] translate-x-6 sm:translate-x-[38px] md:translate-x-[40px] lg:translate-x-[30px] text-shadow-led-effect-h2 dark:text-shadow-dark-led-effect-h2">
        Über mich
    </h2>

    <div class="flex flex-col sm:flex-row items-center sm:items-start -mt-20 space-y-4 sm:space-y-0 sm:space-x-8">
        <!-- Imagen a la izquierda -->
        <img src="/sa.png" alt="Foto de About Me" class="w-64 sm:w-80 h-auto object-cover rounded-lg">

        <!-- Contenedor del texto a la derecha -->
        <div class="text-center sm:text-left">
            <h1 id="about-greeting" class="text-black dark:text-white text-lg sm:text-xl md:text-2xl lg:text-3xl font-archivo">
                HALLO, ICH BIN LUIS
                <span class="inline-block transform origin-custom-origin hover:animate-wave cursor-pointer">👋</span>
            </h1>
            <p id="about-description" class="text-lg sm:text-xl md:text-xl lg:text-xl text-black dark:text-white font-mplus font-regular mt-4 leading-tight">
                Ich bin <span class="font-lobster led-effect-aboutMe age-span">18 Jahre alt</span>, aus Spanien, Madrid und ich bin
                derzeit <span class="font-lobster led-effect-aboutMe role-span">Applikationsentwickler Student</span> in meinem
                zweiten Jahr und ich liebe das Programmieren. Ich habe Kenntnisse in <span class="font-lobster led-effect-aboutMe skills-span">
                Frontend</span> und <span class="font-lobster led-effect-aboutMe">Backend</span>.
            </p>            

            <!-- Contenedor flex para idiomas y redes sociales -->
            <div class="flex mt-8">
                <!-- Div de idiomas -->
                <div class="relative rounded-xl border-2 border-black dark:border-white py-4 px-6 text-black dark:text-white max-w-base">
                    <h2 class="text-2xl font-archivo">SPRACHEN.</h2>
                    <div class="space-y-2">
                        <!-- Deutsch -->
                        <div class="flex items-center">
                            <span id="german-language" class="font-mplus text-lg">Deutsch</span>
                            <div class="flex space-x-1 ml-2 sm:ml-20">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                            </div>
                        </div>
                        <!-- Spanisch -->
                        <div class="flex items-center">
                            <span id="spanish-language" class="font-mplus text-lg">Spanisch</span>
                            <div class="flex space-x-1 ml-2 sm:ml-20">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                            </div>
                        </div>
                        <!-- Englisch -->
                        <div class="flex items-center">
                            <span id="english-language" class="font-mplus text-lg">Englisch</span>
                            <div class="flex space-x-1 ml-2 sm:ml-20">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                                <img src="/star.svg" alt="" class="w-8 h-8 sm:w-10 sm:h-10">
                            </div>
                        </div>
                    </div>
                </div>                

                <!-- Div de redes sociales -->
                <div class="flex flex-col ml-6 mt-4">
                    <a href="https://github.com/byluisfer" class="social-icon mb-4" target="_blank" aria-label="Github">
                        <i class="fab fa-github fa-2x text-black dark:text-white"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/luisfernandezz/" class="social-icon mb-4" target="_blank" aria-label="Linkedin">
                        <i class="fab fa-linkedin fa-2x text-black dark:text-white"></i>
                    </a>
                    <a href="mailto:luisferdass@gmail.com" class="social-icon mb-4" target="_blank" aria-label="Gmail">
                        <i class="fas fa-envelope fa-2x text-black dark:text-white"></i>
                    </a>
                    <a href="/CV_Luis_Fernandez.pdf" download="/CV_Luis_Fernandez.pdf" class="social-icon mb-4" target="_blank" aria-label="CV">
                        <i class="fa-solid fa-file fa-2x text-black dark:text-white"></i>
                    </a>
                </div>
            </div>
            <!-- Fin del contenedor flex -->
        </div>
    </div>
</section>


<style>
    .led-effect-aboutMe {
        text-shadow:
            0 0 5px #9D3BE4,
            0 0 10px #9D3BE4,
            0 0 15px #9D3BE4;
    }

    .social-icon {
        transition: transform 0.3s ease;
    }

    .social-icon:hover {
        transform: scale(1.2);
        filter: drop-shadow(0px 0px 5px rgb(5, 53, 86));
    }
</style>