<section class="h-screen">
    
    <h1 class="relative text-5xl sm:text-6xl md:text-7xl lg:text-8xl text-white font-saira font-black z-10 text-center">
        ABOUT ME
    </h1>

    <h2 class="relative text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-primary font-dafoe font-regular z-20 text-center led-effect-aboutMe transform -translate-y-20 sm:-translate-y-[100px] md:-translate-y-[125px] lg:-translate-y-[135px] translate-x-6 sm:translate-x-[38px] md:translate-x-[40px] lg:translate-x-[30px]">
        About Me
    </h2>

    <div class="flex flex-col sm:flex-row items-center sm:items-start -mt-20 space-y-4 sm:space-y-0 sm:space-x-8">
    
        <!-- Imagen a la izquierda -->
        <img src="/ibai.png" alt="Foto de About Me" class="w-80 h-auto object-cover rounded-lg">
    
        <!-- Contenedor del texto a la derecha -->
        <div class="text-center sm:text-left">
            <h1 class="text-white text-3xl font-archivo">
                HI, I'M LUIS 
                <span class="inline-block transform origin-custom-origin hover:animate-wave cursor-pointer">👋</span>
            </h1>
            <p class="text-lg sm:text-xl md:text-2xl lg:text-2xl text-white font-mplus font-regular mt-4 leading-tight">
                I am <span class="font-lobster led-effect-aboutMe">18 years old</span>, from Spain, Madrid and I am 
                currently a <span class="font-lobster led-effect-aboutMe">computer science student</span> in my 
                second year and I love programming. I have knowledge of <span class="font-lobster led-effect-aboutMe">
                Frontend</span> and <span class="font-lobster led-effect-aboutMe">Backend.</span>
            </p>            
        </div>        
    </div>
    

</section>

<style>
    .led-effect-aboutMe {
      text-shadow:
        0 0 5px #9D3BE4,
        0 0 10px #9D3BE4,
        0 0 15px #9D3BE4;
    }
</style>
