---
import i18next from '../i18n.js';
const { lang } = Astro.props;
i18next.changeLanguage(lang || 'de');
---

<footer class="text-white py-16">
  <!-- Línea superior con efecto LED y bordes redondeados -->
  <div class="led-line w-full"></div>

  <div class="container mx-auto flex flex-col lg:flex-row justify-between items-start lg:items-center mt-10 space-y-10 lg:space-y-0">
    
    <!-- Logo y Footer Bottom -->
    <div class="logo-container mb-10 md:mb-0">
      <img src="/logo.svg" alt="Logo" class="w-24 h-24 mt-10">
      <!-- Footer bottom aligned under the logo and only visible in lg -->
      <p id="footer-rights-lg" class="text-white text-lg mt-12 hidden lg:block">{i18next.t('copyright')}</p>
    </div>
    
    <!-- Navegación -->
    <div class="flex flex-row w-full lg:w-auto justify-between space-x-12 text-left">
      <!-- Main -->
      <div>
        <h3 id="footer-navigation-title" class="text-lg font-mplus text-gray-400">{i18next.t('footerNavigation')}</h3>
        <ul class="space-y-2 mt-2">
          <li><a id="footer-aboutMe" href="#aboutMe" class="text-white font-mplus text-base hover:underline">{i18next.t('aboutMe')}</a></li>
          <li><a id="footer-skills" href="#skills" class="text-white font-mplus text-base hover:underline">{i18next.t('skills')}</a></li>
          <li><a id="footer-education" href="#education" class="text-white font-mplus text-base hover:underline">{i18next.t('education')}</a></li>
          <li><a id="footer-projects" href="#projects" class="text-white font-mplus text-base hover:underline">{i18next.t('projects')}</a></li>
          <li><a id="footer-contact" href="#contact" class="text-white font-mplus text-base hover:underline">{i18next.t('contact')}</a></li>
        </ul>
      </div>
      
      <!-- Social Media -->
      <div>
        <h3 id="footer-social-title" class="text-lg font-mplus text-gray-400">{i18next.t('footerSocialMedia')}</h3>
        <ul class="space-y-2 mt-2">
          <li><a href="https://github.com/byluisfer" target="_blank" class="text-white text-base font-mplus hover:underline">Github ↗</a></li>
          <li><a href="https://www.linkedin.com/in/luisfernandezz/" target="_blank" class="text-white text-base font-mplus hover:underline">LinkedIn ↗</a></li>
          <li><a href="mailto:luisferdass@gmail.com" target="_blank" class="text-white text-base font-mplus hover:underline">Gmail ↗</a></li>
          <li><a href="/CV_Luis_Fernandez.pdf" target="_blank" class="text-white text-base font-mplus hover:underline">CV ↗</a></li>
        </ul>
      </div>
    </div>

  </div>

  
</footer>

<!-- Tailwind CSS y custom CSS para la línea -->
<style>
  .led-line {
    position: relative;
    height: 3px;
    background-color: #1c2b62; /* Color de la línea LED */
    box-shadow: 0 10px 20px rgba(28, 43, 98, 0.8); /* Efecto de luz proyectada hacia abajo */
    border-radius: 100px; /* Bordes redondeados */
  }

  .led-line::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1c2b62;
    box-shadow: 0 0 5px #1c2b62, 0 0 10px #1c2b62, 0 0 15px #1c2b62;
    border-radius: 5px;
  }
</style>
