<section class="relative flex flex-col items-center justify-center h-screen">
    <!-- Texto principal -->
    <h1 id="welcome-text" class="relative z-20 text-5xl sm:text-7xl md:text-10xl lg:text-12xl font-black text-semi-white dark:text-semi-dark tracking-wide font-saira">
        WILLKOMMEN
    </h1>

    <!-- Nombre "Luis Fernández" -->
    <h2 id="name-text" class="absolute z-30 text-3xl sm:text-4xl md:text-5xl lg:text-7xl font-lobster font-regular text-primary2 dark:text-primary text-custom-purple transform translate-x-6 sm:translate-x-10 md:translate-x-8 lg:translate-x-11 text-shadow-led-effect-h2 dark:text-shadow-dark-led-effect-h2">
        Luis Fernández
    </h2>

    <!-- "Applikationsentwickler Student" -->
    <h3 id="computer-science-text" class="absolute z-30 text-lg sm:text-xl md:text-xl lg:text-3xl font-mplus font-regular text-secondary2 dark:text-secondary transform translate-y-12 sm:translate-y-16 md:translate-y-[75px] lg:translate-y-[115px] translate-x-12 sm:translate-x-[60px] md:translate-x-[180px] text-shadow-led-effect-h3 dark:text-shadow-dark-led-effect-h3">
        Applikationsentwickler Student
    </h3>

    <!-- Texto "Ich bin" -->
    <h4 id="im-text" class="absolute z-30 text-sm sm:text-xl md:text-xl lg:text-2xl font-mplus font-regular text-secondary2 dark:text-secondary transform -translate-x-36 sm:-translate-x-[200px] md:-translate-x-[230px] lg:-translate-x-[360px]">
        Ich bin
    </h4>    

    <div class="absolute inset-x-0 bottom-8 sm:bottom-12 md:bottom-16 flex items-center justify-center animate-up-down">
        <!-- Flecha dentro de un círculo con borde y resplandor -->
        <div class="flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-14 lg:h-14 rounded-full border-2 border-primary bg-background shadow-[0_0_10px_2px_rgba(139,92,246,0.4)]">
            <i class="fas fa-arrow-down text-xl sm:text-xl md:text-xl lg:text-2xl text-primary"></i>
        </div>
    </div>
</section>
