<section class="relative flex flex-col items-center justify-center h-screen">
    <!-- Texto principal -->
    <h1 class="relative z-20 text-7xl sm:text-8xl md:text-10xl lg:text-12xl font-black text-semi-dark tracking-wide font-saira">
        WELCOME
    </h1>

    <h2 class="absolute z-30 text-3xl sm:text-2xl md:text-5xl lg:text-7xl font-lobster font-regular text-primary text-custom-purple transform translate-x-6 sm:translate-x-10 md:translate-x-8 lg:translate-x-11 led-effect-h2">
        Luis Fernández
    </h2>

    <h3 class="absolute z-30 text-xl sm:text-xl md:text-xl lg:text-3xl font-mplus font-regular text-secondary transform translate-y-14 sm:translate-y-16 md:translate-y-[75px] lg:translate-y-[115px] translate-x-16 sm:translate-x-[130px] md:translate-x-[180px] led-effect-h3">
        Computer Science
    </h3>

    <h4 class="absolute z-30 text-xl sm:text-xl md:text-xl lg:text-2xl font-mplus font-regular text-secondary transform -translate-x-36 sm:-translate-x-[165px] md:-translate-x-[230px] lg:-translate-x-[330px]">
        I'm
    </h4>

    <div class="absolute inset-x-0 bottom-8 sm:bottom-12 md:bottom-16 flex items-center justify-center animate-up-down">
        <!-- Flecha dentro de un círculo con borde y resplandor -->
        <div class="flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-14 lg:h-14 rounded-full border-2 border-primary bg-background shadow-[0_0_10px_2px_rgba(139,92,246,0.4)]">
            <!-- Icono de FontAwesome para la flecha hacia abajo -->
            <i class="fas fa-arrow-down text-xl sm:text-xl md:text-xl lg:text-2xl text-primary"></i>
        </div>
    </div>
</section>

<style>
    .led-effect-h2 {
        text-shadow:
            0 0 5px #9D3BE4,
            0 0 10px #9D3BE4,
            0 0 15px #9D3BE4;
    }
    .led-effect-h3 {
        text-shadow:
            0 0 5px #1C2B62,
            0 0 10px #1C2B62,
            0 0 15px #1C2B62;
    }
</style>
