---
 // Aquí podrías importar algunos estilos si es necesario o manejar tus props si planeas hacer algo dinámico más adelante.
---

<nav class="fixed z-40 top-6 left-1/2 transform -translate-x-1/2 bg-primary bg-opacity-50 border-2 border-accent shadow-lg rounded-full flex items-center justify-around w-2/8 max-w-xl py-3 px-5">
    <ul class="flex space-x-4 text-base font-semibold">
      <li><a href="#about" class="text-white">About Me</a></li>
      <li><a href="#skills" class="text-white">Skills</a></li>
      <li><a href="#education" class="text-white">Education</a></li>
      <li><a href="#projects" class="text-white">Projects</a></li>
      <li><a href="#contact" class="text-white">Contact</a></li>
    </ul>
</nav>
