---
import i18next from '../i18n.js';
const { lang } = Astro.props;
i18next.changeLanguage(lang || 'de');
---

<section class="h-screen mt-24">
  <h1 id="projects-title" class="relative text-5xl sm:text-6xl md:text-7xl lg:text-8xl text-white font-saira font-black z-10 text-center">
    {i18next.t('projectsTitle')}
  </h1>

  <h2 id="projects-subtitle" class="relative text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-primary font-dafoe font-regular z-20 text-center led-effect-projects transform -translate-y-20 sm:-translate-y-[100px] md:-translate-y-[125px] lg:-translate-y-[135px] translate-x-6 sm:translate-x-[38px] md:translate-x-[40px] lg:translate-x-[30px]">
    {i18next.t('projectsSubtitle')}
  </h2>
  
    <!-- Tic Tac Toe Project -->
    <div class="flex justify-center -mt-14 sm:-mt-20 cursor-pointer">
      <a href="https://github.com/byluisfer/Tic-Tac-Toe" class="relative rounded-[28px] h-auto w-auto px-10 text-white hover:shadow-2xl transition-all duration-300 group overflow-hidden" style="background: linear-gradient(145deg, #151518, #19191d); box-shadow: 20px 20px 40px #101013, -20px -20px 40px #1e1e23;" target="_blank">
        <div class="absolute inset-0 bg-gradient-to-b from-brown/40 to-transparent opacity-0 group-hover:opacity-75 transition-opacity duration-300"></div>
        <div class="absolute top-10 sm:top-12 right-14 z-10">
          <i class="fas fa-arrow-right text-white text-xl sm:text-2xl transform transition-transform duration-300 ease-in-out group-hover:translate-x-5"></i>
        </div>
    
        <div class="mt-10 relative z-10">
          <h2 id="project1-title" class="text-lg font-mplus font-bold sm:text-2xl">{i18next.t('tictactoeTitle')}</h2>
          <p id="project1-description" class="text-base text-gray-300 sm:text-xl mt-4">
            CsBe, 24
            <span>{i18next.t('tictactoeDescribe')}</span>
          </p>
    
          <div class="mt-5 sm:mt-10 md:mt-15 lg:mt-20">
            <img src="/tictactoe.webp" alt="Tic Tac Toe" loading="lazy" class="w-full h-full object-cover rounded-t-2xl transform translate-y-2 sm:translate-y-30 md:translate-y-10 lg:translate-y-10 transition-transform duration-300 ease-in-out group-hover:-translate-y-1"/>
          </div>
        </div>
      </a>
    </div>
    
  
    <!-- Real Madrid Project -->
<div class="flex justify-center mt-20 cursor-pointer">
  <a href="https://github.com/byluisfer/Real-Madrid" class="relative rounded-[28px] h-auto w-auto px-10 text-white hover:shadow-2xl transition-all duration-300 group overflow-hidden" style="background: linear-gradient(145deg, #151518, #19191d); box-shadow: 20px 20px 40px #101013, -20px -20px 40px #1e1e23;" target="_blank">
    <div class="absolute inset-0 bg-gradient-to-b from-purple/40 to-transparent opacity-0 group-hover:opacity-75 transition-opacity duration-300"></div>
    <div class="absolute top-10 sm:top-12 right-14 z-10">
      <i class="fas fa-arrow-right text-white text-xl sm:text-2xl transform transition-transform duration-300 ease-in-out group-hover:translate-x-5"></i>
    </div>

    <div class="mt-10 relative z-10">
      <h2 id="project2-title" class="text-lg font-mplus font-bold sm:text-2xl">{i18next.t('realmadridTitle')}</h2>
      <p id="project2-description" class="text-base text-gray-300 sm:text-xl mt-4">
        CsBe, 24
        <span>{i18next.t('realmadridDescribe')}</span>
      </p>

      <div class="mt-5 sm:mt-10 md:mt-15 lg:mt-20">
        <img src="/real_madrid.webp" alt="Real Madrid" loading="lazy" class="w-full h-full object-cover rounded-t-2xl transform translate-y-2 sm:translate-y-30 md:translate-y-10 lg:translate-y-10 transition-transform duration-300 ease-in-out group-hover:-translate-y-1"/>
      </div>
    </div>
  </a>
</div>

  
    <!-- UrbanVibes Project -->
<div class="flex justify-center mt-20 cursor-pointer">
  <a href="https://github.com/byluisfer/online-shop" class="relative rounded-[28px] h-auto w-auto px-10 text-white hover:shadow-2xl transition-all duration-300 group overflow-hidden" style="background: linear-gradient(145deg, #151518, #19191d); box-shadow: 20px 20px 40px #101013, -20px -20px 40px #1e1e23;" target="_blank">
    <div class="absolute inset-0 bg-gradient-to-b from-orange/40 to-transparent opacity-0 group-hover:opacity-75 transition-opacity duration-300"></div>
    <div class="absolute top-10 sm:top-12 right-14 z-10">
      <i class="fas fa-arrow-right text-white text-xl sm:text-2xl transform transition-transform duration-300 ease-in-out group-hover:translate-x-5"></i>
    </div>

    <div class="mt-10 relative z-10">
      <h2 id="project3-title" class="text-lg font-mplus font-bold sm:text-2xl">{i18next.t('onlineshopTitle')}</h2>
      <p id="project3-description" class="text-base text-gray-300 sm:text-xl mt-4">
        CsBe, 24
        <span>{i18next.t('onlineshopDescribe')}</span>
      </p>

      <div class="mt-5 sm:mt-10 md:mt-15 lg:mt-20">
        <img src="/urbanvibes.webp" alt="UrbanVibes" loading="lazy" class="w-full h-full object-cover rounded-t-2xl transform translate-y-2 sm:translate-y-30 md:translate-y-10 lg:translate-y-10 transition-transform duration-300 ease-in-out group-hover:-translate-y-1"/>
      </div>
    </div>
  </a>
</div>

  </section>
  

<style>
  .led-effect-projects {
    text-shadow:
      0 0 5px #9D3BE4,
      0 0 10px #9D3BE4,
      0 0 15px #9D3BE4;
  }
</style>
