---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="{lang}" class="dark"> <!-- Si deseas que inicie en modo oscuro, puedes dejar la clase 'dark' -->
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portfolio von Luis Fernandez, Applikationsentwicklung in Bern" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    </head>
    <body class="bg-white dark:bg-background text-white dark:text-black"> <!-- Usar solo dark: -->

      <slot name="hero" />
      
        <div class="max-w-6xl px-10 mx-auto">
            <slot />
        </div>
    </body>
    <script src="https://kit.fontawesome.com/ebec5f380e.js" crossorigin="anonymous" defer></script>
    <script src="../scripts/navbar.js"></script>
</html>

<style is:global>
    html {
        font-family: system-ui, sans-serif;
        scroll-behavior: smooth;
         overflow-x: hidden;
    }
     /* Estilo del contenedor de la barra de desplazamiento */
     ::-webkit-scrollbar {
      width: 8px; /* Ancho de la barra de desplazamiento */
      background-color: transparent; /* Fondo de la barra (puedes ponerlo en transparente o un color específico) */
    }

    /* Estilo del "pulgar" o la parte que se mueve en la barra */
    ::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.1); /* Color del pulgar con opacidad */
      border-radius: 10px; /* Bordes redondeados */
    }

    /* Estilo del pulgar cuando está activo (al hacer clic o desplazar) */
    ::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.3); /* Cambiar color al pasar el cursor o interactuar */
    }

    /* Opcional: estilo de la barra de desplazamiento cuando está inactiva */
    ::-webkit-scrollbar-track {
      background-color: transparent; /* Fondo del track de la barra */
    }
</style>